/node_modules

#/public/hot
/public/storage
#/public/css
#/public/js
#/public/fonts
#/public/images
#/public/_admin
#/public/_admin/images
#/public/_admin/js
#/public/_admin/css
#/public/vendor/web-tinker/*
#/public/mix-manifest.json

/storage/*.key
/storage/media-library

/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/___docs
.idea

.php_cs.cache
.php-cs-fixer.cache

build
